.icon-button {
  background: none;
  border: none;
  color: inherit;
}
.c-link {
  cursor: pointer;
}
.left-panel {
  min-height: 100vh;
}
.button-group {
  position: fixed;
  width: 25vw;
  bottom: 0;
}
.no-border {
  border-radius: 0 !important;
}
.start-page {
  font-size: 30px;
  color: #ccc;
  height: 600px;
  line-height: 600px;
  text-align: center;
}
.right-panel {
  position: relative;
}
.sync-status {
  font-size: 12px;
  position: absolute;
  left: 15px;
  bottom: 10px;
  color: #666;
}
.CodeMirror-scroll {
  height: 630px !important
}