.icon-button {
  background: none;
  border: none;
  color: inherit;
}
.c-link {
  cursor: pointer;
}
.left-panel {
  min-height: 100vh;
}
.button-group {
  position: fixed;
  width: 25vw;
  bottom: 0;
}
.no-border {
  border-radius: 0 !important;
}
.start-page {
  font-size: 30px;
  color: #ccc;
  height: 450px;
  line-height: 450px;
  text-align: center;
}